.navbar{ 
    width: 100%;
    box-shadow: 0px 2px  rgba(0, 0, 0, 0.514);
    background-color: rgba(0, 0, 0, 0.8);
    &__brand{ 
        margin: 0rem  2rem  0rem 2rem;
        display: flex;
        align-items: center;
        font-family:sans-serif;
        font-size: 20px;
        text-decoration: none;
        color:  rgba(245, 245, 247, 0.767);
        &--logo {
            margin: 0rem  2rem  0rem 2rem;
            margin-top: 19px;
        }
        &:hover{
            text-decoration: none;
            color: rgb(245, 245, 247);
            transform: scale(1.01);
        }
    }  
    &__tool{
        &--items{
            &--links{
                margin: 0rem  2rem  0rem 2rem;
                & a{
                    color: rgba(245, 245, 247, 0.767);
                    text-decoration: none;
                    list-style: none;
                    font-family:sans-serif;
                    font-size: 1rem;
                    font-weight: 200;
                    position: relative;
                    &:hover{
                        color: rgb(245, 245, 247);
                    }
                } 
            }
        }
    }
    &__search{
        &--icon{
            margin: 0rem  1rem  0rem 1rem;
            font-size: 25px;
            color: rgba(245, 245, 247, 0.767);   
            &:hover{
                color: rgb(245, 245, 247);
            }
        }
    }
    &__bag{
        max-height: 4.2vh;
        &--btn{
            margin: 0rem  1rem  0rem 1rem;
            background-color: transparent;
            border: none; 
            font-size: 27px;
            color: rgba(245, 245, 247, 0.767);   
            &--icon{
                &:hover{
                    color: rgb(245, 245, 247);
                }
            }
        }
    }
    &__user{
        max-height: 4.2vh;
        &--btn{
            margin: 0rem  1rem  0rem 1rem;
            background-color: transparent;
            border: none; 
            font-size: 30px;
            color: rgba(245, 245, 247, 0.767);   
            &--icon{
                &:hover{
                    color: rgb(245, 245, 247);
                }
            }
        }
    }
    &__toggle{
        &--btn{
            display:none;
            font-size: 35px;
            color: rgba(245, 245, 247, 0.87); 
            &--icon{
                &:hover{
                    color: rgb(245, 245, 247);
                }
            }
        }
    }    
    &__overlay{
        position: fixed;
        top:0;
        bottom:0;
        right:0;
        left:0;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 2;
        animation: fadein 0.6s;
        -moz-animation: fadein 0.6s; /* Firefox */
        -webkit-animation: fadein 0.6s; /* Safari and Chrome */
        -o-animation: fadein 0.6s; /* Opera */
    }
    &__mobile{
        position: fixed;
        width: 320px;
        height: 100%;
        right: inherit;
        max-width: 100%;
        background-color: hsl(0, 0%, 100%);
        animation: animationleft linear 0.4s ,opacity linear 0.5s;
        &--close{
            font-size: 2rem;
            color: black;
        }
        &--tool{
            margin-top: 40px;
            &--items{
                &-links{
                    & a{
                        text-decoration: none;
                        list-style: none;
                        display: block;
                        padding: 8px  14px 15px 14px;
                        cursor: pointer;
                        color: black;
                        font-family:sans-serif;
                        font-size: 1.2rem;
                    }  
                    &-home{
                        font-size: 40px;
                        margin-left: 28px;
                        margin-right: 17px;
                        margin-bottom: 14px;
                    }
                    &-mac{
                        margin-left: 14px;
                        margin-right: 2px;
                        margin-bottom: 14px;
                    }
                    &-ipad{
                        margin-left: 28px;
                        margin-right: 19px;
                        margin-bottom: 14px;
                    }
                    &-iphone{
                        @extend .navbar__mobile--tool--items-links-ipad;
                    }  
                    &-watch{
                        @extend .navbar__mobile--tool--items-links-ipad;
                    }
                    &-airpod{
                        @extend .navbar__mobile--tool--items-links-ipad;
                    }
                    &-access{
                        @extend .navbar__mobile--tool--items-links-ipad;
                    }
                }
            }
        }
    }
    &__check{
        &:checked~.navbar__overlay{
            display: block;
        }
        &:checked~.navbar__mobile{
            opacity: 1;
        }
    }
}
@include maxw(1023px) {
    .navbar__tool{
        display: none;
    }
    .navbar__user--btn{
        opacity: 0;
    }
    .navbar__bag--btn{
        opacity: 0;
    }
    .navbar__search{
        opacity: 0;
    }
    .darkmode{
        opacity: 0;
    }
    .navbar__toggle--btn{
        display: block;
    }
}
@include maxw(551px) {
    .navbar__tool{
        display: none;
    }
    .navbar__user--btn{
        display: none;
    }
    .navbar__bag--btn{
        opacity: 0;
    }
    .navbar__search{
        opacity: 0;
    }
    .darkmode{
        opacity: 0;
    }
}
@include maxw(481px) {
    .navbar__tool{
        display: none;
    }
    .navbar__user--btn{
        display: none;
    }
    .navbar__bag--btn{
        display: none;
    }
    .navbar__search{
        opacity: 0;
    }
    .navbar__toggle--btn{
        display: block;
    }
}
@include maxw(410px) {
    .navbar__tool{
        display: none;
    }
    .navbar__user--btn{
        display: none;
    }
    .navbar__bag--btn{
        display: none;
    }
    .navbar__search{
        display: none;
    }
    .darkmode{
        opacity: 0;
    }
}
@include maxw(352px) {
    .navbar__tool{
        display: none;
    }
    .navbar__user--btn{
        display: none;
    }
    .navbar__bag--btn{
        display: none;
    }
    .navbar__search{
        display: none;
    }
    .darkmode{
        display: none;
    }
}
@keyframes animationleft{
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    40%{
        transform: translateX(60%);
    }
    60%{
        transform: translateX(40%);
    }
    80%{
        transform: translateX(20%);
    }
    100%{
        opacity: 1;
        transform: translateX(0)
    }
}
/*overlay animation*/
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
