/*  Dark Mode Button */
.darkmode{
    display: flex;
    justify-content: space-between;
    margin: -0.3rem  2rem  0rem 2rem;
    max-height: 4vh;
    &__mobile{
        margin: 8px  14px 15px 14px;
    }
}
.switch {
    width: 55px;
    height: 25px;
    border-radius: 20px;
    background-color: rgb(24, 23, 23);
    display: flex;
    cursor: pointer;
}
.switch__mobile {
    margin-top: 10px;
    margin-left: 24px;
    width: 55px;
    height: 25px;
    border-radius: 20px;
    background-color: rgb(24, 23, 23);
    display: flex;
    cursor: pointer;
}
.flicker {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    margin-top: 2.5px;
    margin-left: -21px;
    transition: 0.4s;
    box-shadow: 
    inset 4px 4px 4px rgb(255,255,255),
    inset -4px -4px 4px rgb(195 193 198 / 90%);
    cursor: pointer;
}
.sun-icon{
    opacity: 1;
    margin-left: 2.6px;
    margin-top:1.8px;
    width: 22px;
    height: 22px;
    cursor:pointer;
}
.moon-icon {
    margin-top: 4.4px;
    margin-left: 11px;
    width: 17px;
    height: 17px;
    cursor:pointer;
}
.dark {
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.3s;
}
.dark > * {
    color:rgb(255, 255, 255);
}  
.dark .flicker { /*Animation mode */
    transform: translateX(28px);
    transition: 0.3s;
}
.dark .main__products--card--image-iphone{
    background-color: rgba(0, 0, 0, 0.089);
    &:hover{
        background-color:rgba(0, 0, 0, 0.205);
    }
}
.dark .main__products--card--title{
    color:rgba(255, 255, 255, 0.623);
    &:hover a{
        background-color:rgba(255, 255, 255, 0.897);
    }
}
.dark .footers {
    background-color:rgba(0, 0, 0, 0.205);
    & h5{
        color:rgba(255, 255, 255, 0.623);
    }
}
.dark .disclaimer{
    & small{
        color:rgba(255, 255, 255, 0.623);
    }
}
.dark .navbar__mobile{
    background-color: rgba(0, 0, 0, 0.952);
    &--close{
        color:rgba(255, 255, 255, 0.623);
    }
    &--tool{
        &--items{
            &-links{
                & a{
                    color:rgba(255, 255, 255, 0.623);
                }
                &-home{
                    color:rgb(37,36,37);
                }
               
            }
        }
    }

}
/*  Dark Mode Button */
.dark .signin-form input{ /*Cuttom Sign in form*/
    background-color: #47474b;
    color: #ffff;
    &::-webkit-input-placeholder{
        color:#ffff;
        font-weight: 100;
    }
    &::-moz-input-placeholder{
        color: #ffff;
        font-weight: 300;
    }
}
.dark .signup-form input{ /*Cuttom Sign up form*/
    background-color: #47474b;
    color: #ffff;
    &::-webkit-input-placeholder{
        color: #ffff;
        font-weight: 100;
    }
    &::-moz-input-placeholder{
        color:#ffff;
        font-weight: 300;
    }
}
.dark .signin-label-text {
    color:rgb(255, 255, 255);
}
.dark .signup-label-text {
    color:rgb(255, 255, 255);
}

