.main__banner{
    &--iphone{
        &-logo{
            font-size: 40px;
            margin-left: 40%;
            margin-top: 10vh;
            margin-bottom: 4vh;
        }
        &-text{
            font-size: 80px;
            margin-left: 30%;
            font-weight: bolder;
            margin-bottom: 10vh;
        }
        &-img{
            width: 50%;
            height: 50%;
            margin-left: 25%;
        }
    }

}


